# VSCode
.vscode/
__pycache__/
*.pyc
.pytest_cache/

#tipi
**/tipi_chapter_85.csv

#chromadb
collection/

# Environment
.env

# Python cache
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env

# Logs
*.log

# Poetry
.poetry/
